.places {
  margin: 1rem;
}

.places .places__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.places .places__header h3 {
  color: var(--primary);
  font-size: var(--eighteen);
  font-family: var(--font);
  font-weight: 400;
  margin: 0;
}

.places .places__header .header__btn {
  color: var(--black);
  font-size: var(--eighteen);
  font-family: var(--font);
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  background: none;
}

.places .places__header .header__btn:hover {
  text-decoration: underline;
}

.places .places__body {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.places .places__body .place__item {
  width: 75%;
  height: 85px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-light);
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
}

.place__image {
  height: 50px;
  width: 50px;
  background-color: var(--box);
  border-radius: 7px;
  margin-right: 0.75rem;
}

.place__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.place__name {
  color: var(--black);
  font-size: var(--fourteen);
  font-family: var(--font);
  font-weight: 400;
  margin: 0;
}

.place__name:hover {
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
  .places .places__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .places .places__body {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .places {
    margin: 1rem;
  }

  .places .places__body .place__item {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    margin: 2rem;
  }
  .places .places__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .places .places__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .places .places__body .place__item {
    width: 280px;
  }

  .place__name {
    font-size: var(--sixteen);
  }
}

/* Footer */
.places__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.places__footer .footer__btn {
  height: 46px;
  width: 100px;
  font-size: var(--sixteen);
  border-radius: 8px;
  padding: 12px;
}

.places__footer .footer__btn.next {
  background-color: var(--primary);
  color: var(--white);
  margin-left: auto;
  margin-right: 0;
}

.places__footer .footer__btn.prev {
  background-color: var(--gray-dark);
  color: var(--white);
}
