.wrap__category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 7px;
  height: 330px;
  width: 90%;
  border-radius: 14px;
}

.wrap__category .form__head {
  margin-bottom: 2rem;
}

.category__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrap__category .category__form .form__field {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__image{
  width: 50px;
  height: 25px;
}

.category__form .form__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.form__group .form__btn {
  height: 46px;
  width: 100%;
  font-size: var(--sixteen);
  border-radius: 8px;
  padding: 12px;
}

.save {
  background-color: var(--primary);
  color: var(--white);
}

.close {
  color: var(--gray-dark);
}

@media screen and (min-width: 768px) {
  .wrap__category {
    padding: 2rem;
    width: 610px;
  }

  .form__group .form__btn {
    width: 213px;
  }
}

.category__header input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.category__header input[type="checkbox"] + label {
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 34px;
  position: relative;
}

.category__header input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: #fff;
  transition: all 0.2s ease;
}

.category__header input[type="checkbox"]:checked + label {
  background-color: #050505;
}

.category__header input[type="checkbox"]:checked + label:before {
  transform: translateX(26px);
}
