.features {
    margin: 1rem;
  }
  
  .features .features__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
  
  .features .features__header h3 {
    color: var(--primary);
    font-size: var(--eighteen);
    font-family: var(--font);
    font-weight: 400;
    margin: 0;
  }
  
  .features .features__header .header__btn {
    color: var(--black);
    font-size: var(--eighteen);
    font-family: var(--font);
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
  
    background: none;
  }
  
  .features .features__header .header__btn:hover {
    text-decoration: underline;
  }
  
  .features .features__body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .features .features__body .features__item {
    width: 75%;
    height: 72px;
    display: grid;
    align-items: center;
    background-color: var(--gray-light);
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .features__image {
    height: 50px;
    width: 50px;
    background-color: var(--box);
    border-radius: 7px;
    margin-right: 0.75rem;
  }
  
  .features__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .features__name {
    color: var(--black);
    font-size: var(--fourteen);
    font-family: var(--font);
    font-weight: 400;
    margin: 0;
  }
  
  .features__name:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 500px) {
    .features .features__body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 700px) {
    .features .features__body {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .features {
      margin: 1rem;
    }
  
    .features .features__body .features__item {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 1024px) {
      .features{
          margin: 2rem;
      }
    .features .features__header {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .features .features__body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      margin-top: 3rem;
    }
  
    .features .features__body .features__item {
      width: 280px;
    }
  
    .features__name {
      font-size: var(--sixteen);
    }
  }
  
 /* Footer */
.features__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.features__footer .footer__btn {
  height: 46px;
  width: 100px;
  font-size: var(--sixteen);
  border-radius: 8px;
  padding: 12px;
}

.features__footer .footer__btn.next {
  background-color: var(--primary);
  color: var(--white);

  margin-right: 0;
  margin-left: auto;
}

.features__footer .footer__btn.prev {
  background-color: var(--gray-dark);
  color: var(--white);
}