@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: "Rubik", sans-serif;

  --primary: #ff9100;
  --black: #000000;
  --white: #ffffff;
  --gray: #e0e0e0;
  --gray-dark: #828282;
  --gray-light: rgba(217, 217, 217, 0.21);
  --box: rgba(189, 166, 166, 0.21);

  --twelve: 12px;
  --fourteen: 14px;
  --sixteen: 16px;
  --eighteen: 18px;
  --twenty: 20px;
  --twenty-two: 22px;
  --twenty-four: 24px;
}


body {
  font-family: var(--font);
  font-size: var(--sixteen);
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}

a {
  color: var(--black);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: var(--twenty-four);
}

h2 {
  font-size: var(--twenty-two);
}

.container {
  width: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 400;
  font-size: var(--sixteen);
  transition: all 0.3s ease-in-out;
}

button :hover{
  transform: scale(.95, 1);
} 

.error__message{
  color: red;
    font-size: var(--twelve);
    text-align: center;
    background: #ff000042;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}
.success__message{
  color: green;
  font-size: var(--twelve);
  text-align: center;
  margin-top: .35rem;
}

/* Path: src/components/index.css */